*{
    box-sizing: border-box;
}

body{
    color: #222;
}

img{
    max-width: 100%;
}

main{
    padding:10px;
    max-width: 700px;
    margin: 0 auto


}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    align-items: center;

}

header a{
    text-decoration: none;
    color: inherit;

}

header a.logo{
    color: #72b89a;
    height: 60px;
    width: 90px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #efcccc;
}

header nav{
    display:flex;
    gap: 15px;
}

div.post{
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    grid-template-rows: 0.5fr ;
    gap: 25px;
    margin-bottom: 30px;

}

div.post div.texts h2{
    margin: 0;
    
    font-size: 1.8rem;
}

div.post div.texts a{
    text-decoration: none;
    color: inherit;
}

div.post p.info{
    margin:6px 0;
    color: #888;
    font-size: 0.7rem;
    font-weight: bold;
    display: flex;
    gap:10px;

}

div.post p.info a.author{
    color: #333;
}

/*
here starts shit

*/
div.post div.texts {
    overflow-x:auto;
}


div.post  p.summary{
    margin: 10px 0;
    line-height: 1.4rem;

}

form.register, form.login{
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    gap: 10px;
}

input{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 12px 7px;
    border: 0;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    border-radius: 5px;

}


button{
    width:100%;
    display:block;
    background-color: #555;
    border: 0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 0;
    cursor: pointer;
}

form.login h1, form.register h1{
    text-align: center;
}

.nav-button{
    padding: 8px 24px;
    background-color: rgb(99 102 241 );
    color: white;
    text-align: center;
    border-radius: 25px;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
    transition: font-size 0.3s, padding 0.3s;
}

.nav-button:hover{
    
    /* background-color: rgba(103, 181, 220,0.9); */
    /* background-color: rgba(202,138,4,0.9); */
    background-color: rgba(99,102,241,0.85);
    cursor: pointer;
    font-size: 22px;
    /* padding: 4px 22px; */
}
